extends base


block  content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg checkOtp check
        form.form.form--checkOtp
          .form__group.ma-bt-md
            label.form__label(for='password123') OTP
            input#password123.form__input(type='text', placeholder='bcf8cc84f955', required)
          .form__group
            button.btn.btn--green check Otp